
img {
    display: block;
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#rname {
    font-weight: bold;
    text-align: center;
}

.intro {
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}

.desc {
    font-style: italic;
    color: slateblue;
    text-align: center;
}

h4 {
    text-decoration: underline;
}

h5 {
    color: darkgrey;
    font-weight: bold;
}

ul {
    color: rgb(70, 20, 20);
}

ol {
    font-style: italic;
    color: darkred;
}