
* {
    padding: 5px;
    margin: 10px;
}

img {
    display: block;
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    background-color: rgb(226, 168, 43);
    opacity: 0.8;
    border-radius: 10px;
    align-items: flex-start;
}

.flex-item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 5px;
    padding: 5px;
}

#rname {
    font-weight: bold;
    text-align: center;
}

.intro {
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}

.desc {
    font-style: italic;
    color: rgb(70, 20, 20);
    text-align: center;
}

h3 {
    text-decoration: underline;
}

h4 {
    color: rgb(70, 20, 20);
    font-weight: bold;
}

ul {
    color: rgb(70, 20, 20);
    text-align: left;
}

ol {
    font-style: italic;
    color: darkred;
    text-align: left;
}
